// root page welcome text
.welcome-text {
	@extend .clearfix;
	float: right;
	max-width: 45%;
	font-size: 1.8em;

	p:last-of-type {
		float: left;
		max-width: 75%;
	}
}

.pointing-arrow {
	float: left;
	position: relative;
	top: 1.2em;
	left: -0.4em;
	pointer-events: none;
	transform-origin: 0px 19px;
	animation: arrow-grow 500ms ease 3000ms 6 alternate;

	&,
	&:before,
	&:after {
		@extend %hide-backface-visibility;
	}

	&:before,
	&:after {
		content: '';
	}

	// arrow body
	&:before {
	  display: block;
	  width: 80px;
	  height: 85px;
		border-style: solid;
	  border-width: 3px;
	  border-color: $color-black transparent transparent transparent;
	  border-radius: 50%;
    transform-origin: top left;
	  transform: rotate(45deg);
	}

	// arrowhead
	&:after {
	  width: 16px;
	  height: 15px;
	  position: absolute;
	  top: 47%;
	  left: 36.5%;
	  z-index: -1;
	  border-style: solid;
	  border-width: 2px;
	  border-color: transparent $color-black $color-black transparent;
	  transform: rotate(48deg) skewX(15deg);
	}
}

@keyframes arrow-grow {
	30% {
		transform: none;
	}

	to {
  	transform: scale(1.15) rotate(20deg);
  }
}

// media queries
@media only screen and (max-width: $breakpoint-medium) {
	.welcome-text {
		float: none;
		max-width: 100%;
		margin-top: 10.5em;
	}

	.pointing-arrow {
	  top: 0.1em;
	  left: 0.4em;

	  &:after {
	  	border-width: 3px; // looks thin on ipad - fatten it up a touch
	  }
	}
}

@media only screen and (max-width: $breakpoint-small) {
	.welcome-text {
		margin-top: 10em;
		font-size: 1.5em;

		p:last-of-type {
			max-width: none;
		}
	}

	.pointing-arrow {
	  display: none;
	}
}

// @media print {

// }