// root page welcome text
.welcome-text {
	position: relative;
	float: right;
	max-width: 45%;
	font-size: 1.8em;

	p:last-child {
		position: relative;
		max-width: 75%;

		&:after {
		  content: '\2935';
		  font-size: 2em;
		  position: absolute;
		  top: 1.15em;
			left: 102%;
			transform-origin: top left;
			animation: arrow-grow 500ms ease 3000ms 6 alternate;
		}
	}
}

@keyframes arrow-grow {
	30% {
		transform: none;
	}

	to {
  	transform: scale(1.15) rotate(7deg);
  }
}

// media queries
@media only screen and (max-width: $breakpoint-medium) {
	.welcome-text {
		float: none;
		max-width: 100%;
		margin-top: 10.5em;

		p:last-child {
			&:after {
			  top: 0.55em;
			}
		}
	}
}

@media only screen and (max-width: $breakpoint-small) {
	.welcome-text {
		margin-top: 10em;
		font-size: 1.5em;

		p:last-child {
			max-width: none;

			&:after {
			  content: none;
			  display: none;
			}
		}
	}
}

// @media print {

// }