<header>
  <label for="mobileNavTrigger" class="mobile-nav-label" aria-hidden="true" title="toggle navigation menu"><span class="visually-hidden">toggle navigation menu</span></label>

  <input type="checkbox" id="mobileNavTrigger" class="mobile-nav-trigger" aria-hidden="true" tab-index="-1" />

  <nav class="main-nav">
    <a href="/" class="mobile-home-link">Home</a>

    <ul class="main-nav-list">
      <li class="main-nav-list-item">
        <a class="main-nav-link projects-link" href="/projects" title="Some of the things I've worked on.">Projects</a>
      </li>

      <li class="main-nav-list-item">
        <a class="main-nav-link resume-link" href="/resume" title="A map of where I've been, professionally.">Resume</a>
      </li>

      <li class="main-nav-list-item">
        <a class="main-nav-link contact-link" href="/contact" title="How to get ahold of me.">Contact</a>
      </li>
    </ul>
  </nav>

  <aside class="name-tag-wrapper">
    <a href="/" class="name-tag">
      <h1 class="name-tag-header"><span>Brad Mallow</span></h1>
    </a>
  </aside>
</header>