header {
	position: relative;
	z-index: 1; // make header transition above main content
	margin-bottom: em(40);
}

.main-nav,
.name-tag-wrapper,
.name-tag-wrapper:after,
.name-tag,
.name-tag-header {
	backface-visibility: hidden;
}

.main-nav {
	transition: transform 400ms ease;

	.root & {
		transform: translateY(420px);
	}
}

.main-nav-list {
	@extend .clearfix;
}

.main-nav-list-item {
	float: left;
	width: 33.3%;
  overflow: hidden;
	border-style: solid;
	border-color: $color-border-light;
	border-width: 1px 1px 1px 0;

	&:first-child {
		border-width: 1px;
	  border-top-left-radius: 3px;
	  border-bottom-left-radius: 3px;
	}

	&:last-child {
		border-top-right-radius: 3px;
	  border-bottom-right-radius: 3px;
	}
}

.main-nav-link {
	display: block;
	height: 3em;
	line-height: 3em;
	text-align: center;
	font-size: 1.5em;
	font-family: $font-header;
	text-transform: uppercase;
	background-image: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAMAAAAocOYLAAAANlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC3dmhyAAAAEnRSTlMYFxkWGhUbExQcHRIeER8PIA73vaSEAAAB3ElEQVQoFQXBh4HkOBAEsHJtSEmz9/kn+wAauv2O+gq9Hz4OB1tEAAnncPWe9g1P4WFs1BRhi8Lv8AqWSddDcecTz3NHryy0oijmf2CtjjwFl9QRJKSu74Fgl/0ExpjYbp+8wCtCjvtzk64+roqUH8oDfAgbYBlboqb+ctNJIx0Cmj8sgRhTBXwEGej2uXxw6Keqy3KVxmwfxgJCV8CHSD46NNbaSscJzVQTsKEqrtlSd0pvn7e7vCAB6LAi5jKv7gkVFjMrP0ZRlg+6VYcvQjeePxcAZ1DU9MEVcCDxhI2akZGawkfIbrwBncABsb1VU7BBvH1eFtL66eEGi60hVM98ODr5OVe3y3A1xqky58uMYEo83EtCKdqAA3sJyAj6x3suNSbpsrDd0ZAlI67GLftT1VL9QDWW1LoJeNr8yAuqVBcAJhH7WincMrw9T2Ecl9Th/ZdOp7NAIo+xPnA9S7N4Ql0wNyiK0mwKy4g5GKeBHPUIBBvbRNWWpHvUuiCaQz2o0RIbbBdPGq1F3sYcpQZZ1tTag9t9CrjZF4yrHga1XZ/Ke/7dVz1unm16WQEIuBKyeU13OR2sJzOIm/h4haPJi1Bx6QN2fauKFcQ3Hb+I5Y96ahWh9YcnnP8BI+wQR1WzuvYAAAAASUVORK5CYII=);
	background-repeat: repeat;
	background-color: rgba($color-grey-background, 0.1);
	transition: background-color 175ms ease-in;

	&:hover {
		text-decoration: none;
		background-color: rgba($color-black, 0.1);
	}

	&:active,
	.projects &.projects-link,
	.resume &.resume-link,
	.contact &.contact-link {
		color: $clouds;
		background-color: rgba($color-black, 0.35);
		transition-duration: 0s;
	}
}

// name tag
.name-tag-wrapper {
	position: absolute;
	transition: transform 500ms ease;
	transform-origin: top left;
	transform: scale(0.35) translateX(-144px) translateY(-266px) rotate(-24deg);

	.root & {
		transform: translateX(20px) translateY(30px) rotate(-2deg);
	}

	&:after {
		content: '';
	  width: 70%;
	  height: 50%;
	  position: absolute;
	  right: 0;
	  bottom: 10px;
	  z-index: -1;
	  border-radius: 30px;
	  transition-property: transform, box-shadow;
		transition-duration: 175ms;
		transition-timing-function: ease;
	}

	// only animate hover on homepage
	.root &:hover:after {
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
	  transform: rotate(2deg);
	}
}

.name-tag {
	display: block;
	width: 420px;
	height: 280px;
	padding-top: 85px;
	border-radius: 40px;
	background-color: $alizarin;
	transition-property: transform;
	transition-duration: 175ms;
	transition-timing-function: ease;

	&:hover {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	  transform: scale(1.01) rotate(-0.6deg);
	}

	&:before,
	&:after {
		position: absolute;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: $clouds;
	}

	&:before {
		content: 'Hello';
		text-transform: uppercase;
		top: -2px;
		font-size: 4em;
	}

	&:after {
		content: 'my name is';
	  top: 49px;
	  font-size: 2em;
	}
}

.name-tag-header {
	text-align: center;
	line-height: 160px;
	font-size: 4.5em;
	background-color: $clouds;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-indent: 35px;
  transform: scale(1.004);

  span {
  	display: block;
  	transform: rotate(2deg);
  }
}