header {
	position: relative;
	margin-bottom: em(40);
}

.main-nav {}

.main-nav-list {
	@extend .clearfix;
}

.main-nav-list-item {
	float: left;
	width: 33.3%;
  overflow: hidden;
	border-style: solid;
	border-color: $color-border-light;
	border-width: 1px 1px 1px 0;

	&:first-child {
		border-width: 1px;
	  border-top-left-radius: 3px;
	  border-bottom-left-radius: 3px;
	}

	&:last-child {
		border-top-right-radius: 3px;
	  border-bottom-right-radius: 3px;
	}
}

.main-nav-link {
	display: block;
	height: 3em;
	line-height: 3em;
	text-align: center;
	font-size: 1.2em;
	font-family: $font-header;
	text-transform: uppercase;
	background-color: rgba($color-grey-background, 0.6);
	transition: background-color 0.2s ease-in;

	&:hover {
		text-decoration: none;
		background-color: rgba($color-grey-background, 1.0);
	}
}

// name tag
.name-tag-wrapper,
.name-tag-wrapper:after,
.name-tag,
.name-tag-header {
	backface-visibility: hidden;
}

.name-tag-wrapper {
	position: absolute;
	top: 80px;

	&:after {
		content: '';
	  width: 70%;
	  height: 50%;
	  position: absolute;
	  right: 0;
	  bottom: 10px;
	  z-index: -1;
	  border-radius: 30px;
	  transition-property: transform, box-shadow;
		transition-duration: 190ms;
		transition-timing-function: ease;
	}

	&:hover:after {
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
	  transform: rotate(2deg);
	}
}

.name-tag {
	display: block;
	width: 420px;
	height: 280px;
	padding-top: 85px;
	border-radius: 40px;
	background-color: $alizarin;
	transition-property: transform;
	transition-duration: 175ms;
	transition-timing-function: ease;

	&:hover {
		text-decoration: none;
	  transform: scale(1.01) rotate(-0.6deg);
	}

	&:before,
	&:after {
		position: absolute;
		width: 100%;
		text-align: center;
		font-weight: bold;
		color: $clouds;
	}

	&:before {
		content: 'Hello';
		text-transform: uppercase;
		top: -2px;
		font-size: 4em;
	}

	&:after {
		content: 'my name is';
	  top: 49px;
	  font-size: 2em;
	}
}

.name-tag-header {
	text-align: center;
	line-height: 160px;
	font-size: 4.5em;
	background-color: $clouds;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-indent: 35px;
  transform: scale(1.004);

  span {
  	display: block;
  	transform: rotate(2deg);
  }
}